:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --red: rgba(205, 50, 50, 1.0);
  --black: rgba(50, 40, 60, 1.0);
  --grey: rgba(70, 60, 75, 1.0);
  --lightRed: rgba(255, 70, 70, 1.0);
  --lightGrey: rgba(230, 230, 235, 1.0);
}
